openapi: 3.0.3
info:
  title: Branded UK E-Commerce API
  description: |
    # Overview
    This API provides endpoints for the Branded UK e-commerce platform.
    
    ## Base URL
    **Production**: `https://api.brandeduk.com`
    
    ## Authentication
    No authentication required. Public API.
    
    ## Endpoint Categories
    
    ### Products (Main)
    - `GET /api/products` - Main product listing with combined filters
    - `GET /api/products/filters` - Product type counts for filtering
    - `GET /api/products/types` - All product types with counts
    - `GET /api/products/{code}` - Single product details
    - `GET /api/products/{code}/pricing` - Get pricing information for a style code
    
    ### Contact & Quotes
    - `POST /api/contact` - Submit contact form inquiry
    - `POST /api/quotes` - Submit quote request with optional logo file uploads
    
    ### Filter Endpoints (Testing & Database Exploration)
    Each filter type has TWO endpoints:
    1. **List all values**: Returns all options from that database table
    2. **Get products by slug**: Returns products matching a specific filter value
    
  version: 1.0.0
  contact:
    name: API Support

servers:
  - url: https://api.brandeduk.com
    description: Production Server
  - url: http://localhost:3004
    description: Local Development

tags:
  - name: Products
    description: Main product listing, search, and details
  - name: Pricing
    description: Pricing rules and repricing jobs
  - name: Admin
    description: Admin endpoints for managing all tables and product pricing (no auth)
  - name: Categories
    description: Category endpoints for dropdown menu and navigation
  - name: Product Types
    description: Product type filter endpoints
  - name: Genders
    description: Gender filter endpoints
  - name: Age Groups
    description: Age group filter endpoints
  - name: Sleeves
    description: Sleeve type filter endpoints
  - name: Necklines
    description: Neckline type filter endpoints
  - name: Fabrics
    description: Fabric type filter endpoints
  - name: Sizes
    description: Size filter endpoints
  - name: Colors
    description: Color filter endpoints
  - name: Primary Colors
    description: Primary color filter endpoints
  - name: Styles
    description: Style keyword filter endpoints
  - name: Tags
    description: Tag filter endpoints
  - name: Weights
    description: Weight range filter endpoints
  - name: Fits
    description: Fit type filter endpoints
  - name: Sectors
    description: Sector filter endpoints
  - name: Sports
    description: Sport filter endpoints
  - name: Effects
    description: Effect filter endpoints
  - name: Accreditations
    description: Accreditation filter endpoints
  - name: Colour Shades
    description: Colour shade filter endpoints
  - name: Brands
    description: Brand filter endpoints
  - name: Display Order
    description: Admin endpoints for managing custom product display order by brand and product type
  - name: Price Range
    description: Price range filter endpoints
  - name: Health
    description: Server health checks
  - name: Contact
    description: Contact form submission endpoints
  - name: Quotes
    description: Quote request endpoints with file uploads

paths:
  # ============================================================================
  # MAIN PRODUCT ENDPOINTS
  # ============================================================================
  
  /api/products:
    get:
      tags:
        - Products
      summary: Get product list (main combined filter endpoint)
      description: |
        Returns a paginated list of products with optional filtering and search.
        This is the main endpoint that supports all filters combined.
      operationId: getProducts
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page (max 200)
          schema:
            type: integer
            default: 24
        - name: q
          in: query
          description: Search query (supports keywords, product types, brands, and direct style code lookup e.g. "AD002")
          schema:
            type: string
        - name: priceMin
          in: query
          schema:
            type: number
        - name: priceMax
          in: query
          schema:
            type: number
        - name: productType
          in: query
          description: Product type slug(s)
          schema:
            type: string
        - name: gender
          in: query
          schema:
            type: string
        - name: ageGroup
          in: query
          schema:
            type: string
        - name: sleeve
          in: query
          schema:
            type: string
        - name: neckline
          in: query
          schema:
            type: string
        - name: fabric
          in: query
          schema:
            type: string
        - name: size
          in: query
          schema:
            type: string
        - name: colour
          in: query
          schema:
            type: string
        - name: primaryColour
          in: query
          schema:
            type: string
        - name: style
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: weight
          in: query
          schema:
            type: string
        - name: fit
          in: query
          schema:
            type: string
        - name: sector
          in: query
          schema:
            type: string
        - name: sport
          in: query
          schema:
            type: string
        - name: effect
          in: query
          schema:
            type: string
        - name: accreditations
          in: query
          schema:
            type: string
        - name: brand
          in: query
          description: Brand slug(s) or name(s) - accepts multiple values
          schema:
            type: string
          example: "awdis"
        - name: brands
          in: query
          description: Alias for brand parameter (accepts multiple values)
          schema:
            type: string
        - name: colourShade
          in: query
          schema:
            type: string
        - name: isBestSeller
          in: query
          description: Filter by best selling products
          schema:
            type: boolean
        - name: isRecommended
          in: query
          description: Filter by recommended products
          schema:
            type: boolean
        - name: sort
          in: query
          description: |
            Sort option. Available values:
            - `newest` - Sort by creation date (newest first)
            - `best` - Best sellers (uses newest as proxy)
            - `brand-az` - Sort by brand name A-Z
            - `brand-za` - Sort by brand name Z-A
            - `code-az` - Sort by product code A-Z
            - `code-za` - Sort by product code Z-A
            - `price-lh` - Sort by price low to high
            - `price-hl` - Sort by price high to low
            - `price` - Sort by price (use with order parameter)
            - `name` - Sort by product name (use with order parameter)
          schema:
            type: string
            enum: [newest, best, brand-az, brand-za, code-az, code-za, price-lh, price-hl, price, price-low, price-high, name]
            default: newest
            default: newest
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                  page:
                    type: integer
                  limit:
                    type: integer
                  total:
                    type: integer
                  priceRange:
                    type: object
                    properties:
                      min:
                        type: number
                      max:
                        type: number

  /api/products/discontinued:
    get:
      tags:
        - Products
      summary: Get discontinued products
      description: Returns a paginated list of discontinued products. Note that `price` field in response reflects the calculated `sell_price`.
      operationId: getDiscontinuedProducts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
        - name: q
          in: query
          description: Search query
          schema:
            type: string
        - name: productType
          in: query
          description: Product type slug(s)
          schema:
            type: string
        - name: productTypes
          in: query
          description: Alias for productType (accepts multiple values)
          schema:
            type: string
        - name: category
          in: query
          description: Alias for productType (used by mobile)
          schema:
            type: string
        - name: categories
          in: query
          description: Alias for productType (used by mobile)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                  page:
                    type: integer
                  limit:
                    type: integer
                  total:
                    type: integer
                  message:
                    type: string

  /api/products/filters:
    get:
      tags:
        - Products
      summary: Get filter aggregations (counts)
      description: Returns counts for all filter types based on current search and filters
      operationId: getProductFilters
      parameters:
        - name: q
          in: query
          description: Search query
          schema:
            type: string
        - name: productType
          in: query
          schema:
            type: string
        - name: brand
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  filters:
                    type: object
                    properties:
                      gender:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterItem'
                      brand:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterItem'
                      primaryColour:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterItem'
                      size:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterItem'
                      productType:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterItem'

  /api/products/suggest:
    get:
      tags:
        - Products
      summary: Search suggestions (Typeahead)
      description: Returns suggestions for brands, product types, and individual products
      operationId: getSearchSuggestions
      parameters:
        - name: q
          in: query
          required: true
          description: Partial search query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      type: object
                  types:
                    type: array
                    items:
                      type: object
                  products:
                    type: array
                    items:
                      type: object

  /api/products/types:
    get:
      tags:
        - Products
      summary: Get all product types with counts
      operationId: getProductTypes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  productTypes:
                    type: array
                  total:
                    type: integer

  /api/products/{code}:
    get:
      tags:
        - Products
      summary: Get product details by code
      operationId: getProductDetail
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "JC001"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  name:
                    type: string
                  price:
                    type: number
                  sell_price:
                    type: number
                  carton_price:
                    type: number
                    nullable: true
                  markup_tier:
                    type: number
                    nullable: true
                  markup_source:
                    type: string
                    nullable: true
                  brand:
                    type: string
                  images:
                    type: array
                    items:
                      type: object
                  colors:
                    type: array
                    items:
                      type: object
                  sizes:
                    type: array
                    items:
                      type: string
                  description:
                    type: string
                  priceBreaks:
                    type: array
                    items:
                      type: object
        '404':
          description: Product not found

  /api/products/{code}/related:
    get:
      tags:
        - Products
      summary: Get related products
      description: |
        Returns products related to the specified product.
        Priority: Same brand AND same product type first, then same product type from other brands.
      operationId: getRelatedProducts
      parameters:
        - name: code
          in: path
          required: true
          description: Product style code
          schema:
            type: string
          example: "JC001"
        - name: limit
          in: query
          description: Maximum number of related products to return
          schema:
            type: integer
            default: 12
          example: 12
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentProduct:
                    type: object
                    properties:
                      code:
                        type: string
                      brand:
                        type: string
                      productType:
                        type: string
                  related:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        price:
                          type: number
                        image:
                          type: string
                        brand:
                          type: string
                        product_type:
                          type: string
                  total:
                    type: integer
                  sameBrandAndType:
                    type: integer
                    description: Number of products from same brand AND type
                  sameTypeOnly:
                    type: integer
                    description: Number of products from same type only (different brand)
        '404':
          description: Product not found

  /api/products/{code}/pricing:
    get:
      tags:
        - Products
      summary: Get pricing information for a style code
      description: |
        Returns pricing breakdown for a product including:
        - carton_price (or single_price if carton_price is 0/null)
        - markup_percent (the pricing rule percentage applied)
        - sell_price (the calculated selling price)
        - pricing_rule details (price range and description)
      operationId: getProductPricing
      parameters:
        - name: code
          in: path
          required: true
          description: Product style code
          schema:
            type: string
          example: "JC001"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  style_code:
                    type: string
                    example: "JC001"
                  carton_price:
                    type: number
                    description: Carton price (or single_price if carton_price is 0/null)
                    example: 10.50
                  single_price:
                    type: number
                    description: Single unit price
                    example: 10.50
                  markup_percent:
                    type: number
                    nullable: true
                    description: Markup percentage applied from pricing rules
                    example: 127.00
                  sell_price:
                    type: number
                    nullable: true
                    description: Calculated selling price after markup
                    example: 23.84
                  pricing_rule:
                    type: object
                    nullable: true
                    description: Details of the pricing rule applied
                    properties:
                      from_price:
                        type: number
                        example: 10.00
                      to_price:
                        type: number
                        example: 14.99
                      markup_percent:
                        type: number
                        example: 127.00
                      description:
                        type: string
                        example: "127% markup for £10.00-£14.99 (reduced by 5%)"
        '404':
          description: Product not found or has no pricing information
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Product not found or has no pricing information"
                  style_code:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # PRICING ENDPOINTS
  # ============================================================================

  /api/pricing/rules:
    get:
      tags:
        - Pricing
      summary: List pricing rules
      description: |
        Returns all pricing rules. You can optionally filter to only active rules.
      operationId: listPricingRules
      parameters:
        - name: active
          in: query
          required: false
          description: If "true", only return active rules
          schema:
            type: string
            enum: ["true","false"]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: string
                          example: "1.0"
                        from_price:
                          type: number
                          example: 10.00
                        to_price:
                          type: number
                          example: 14.99
                        markup_percent:
                          type: number
                          example: 127.00
                        active:
                          type: boolean
                          example: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Pricing
      summary: Create a new pricing rule
      operationId: createPricingRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from_price
                - to_price
                - markup_percent
              properties:
                version:
                  type: string
                  description: Version label for this rule set
                  default: "1.0"
                  example: "1.0"
                from_price:
                  type: number
                  example: 10.00
                to_price:
                  type: number
                  example: 14.99
                markup_percent:
                  type: number
                  example: 127.00
                active:
                  type: boolean
                  description: Whether this rule is active
                  default: false
      responses:
        '201':
          description: Pricing rule created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                      from_price:
                        type: number
                      to_price:
                        type: number
                      markup_percent:
                        type: number
                      active:
                        type: boolean
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/pricing/rules/{id}:
    put:
      tags:
        - Pricing
      summary: Update an existing pricing rule
      description: |
        Update a pricing rule identified by a composite key.

        You can either:
        - Pass `id` in the path as `version:from_price:to_price`, e.g. `1.0:10.00:14.99`, or
        - Provide the original key in the body via `originalVersion`, `originalFromPrice`, `originalToPrice`.
      operationId: updatePricingRule
      parameters:
        - name: id
          in: path
          required: true
          description: Composite key in the format `version:from_price:to_price`
          schema:
            type: string
            example: "1.0:10.00:14.99"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: New version value (optional)
                from_price:
                  type: number
                  description: New from_price (optional)
                to_price:
                  type: number
                  description: New to_price (optional)
                markup_percent:
                  type: number
                  description: New markup percentage (optional)
                active:
                  type: boolean
                  description: New active flag (optional)
                originalVersion:
                  type: string
                  description: Original version key (optional)
                originalFromPrice:
                  type: number
                  description: Original from_price key (optional)
                originalToPrice:
                  type: number
                  description: Original to_price key (optional)
      responses:
        '200':
          description: Pricing rule updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                      from_price:
                        type: number
                      to_price:
                        type: number
                      markup_percent:
                        type: number
                      active:
                        type: boolean
        '400':
          description: Validation error (missing key or fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Pricing rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/pricing/reprice:
    post:
      tags:
        - Pricing
      summary: Recalculate sell_price for all products
      description: |
        Recalculates `sell_price` for all products using the currently active pricing rules
        and refreshes the `product_search_materialized` view.
      operationId: repriceProducts
      responses:
        '200':
          description: Repricing job completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Repricing job completed"
                  updatedProducts:
                    type: integer
                    description: Number of products updated
                  materializedViewRefreshed:
                    type: boolean
                  refreshError:
                    type: string
                    nullable: true
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/pricing/products/{code}/sell-price:
    put:
      tags:
        - Pricing
      summary: Direct sell_price updates are disabled
      description: |
        This endpoint is deprecated. Direct `sell_price` updates are no longer allowed.
        Use the admin carton price endpoint instead:
        `PUT /api/admin/products/{code}/carton-price`, which recalculates `sell_price`
        from the current pricing rules.
      operationId: overrideSellPrice
      parameters:
        - name: code
          in: path
          required: true
          description: Product style code (e.g. JC001)
          schema:
            type: string
            example: "JC001"
      requestBody:
        required: false
      responses:
        '400':
          description: Direct sell_price updates are disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # ADMIN ENDPOINTS
  # ============================================================================

  /api/admin/tables:
    get:
      tags:
        - Admin
      summary: List all public tables
      description: Returns all base tables in the public schema for admin use.
      operationId: listAdminTables
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tables:
                    type: array
                    items:
                      type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/{table}:
    get:
      tags:
        - Admin
      summary: List rows from a table
      description: |
        Generic admin endpoint to list rows from any public table.
        Assumes table is in the `public` schema.
      operationId: listAdminTableRows
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: Table name (e.g. products, pricing_rules)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          description: Invalid table name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Admin
      summary: Insert a new row into a table
      description: |
        Generic admin endpoint to insert a new row into any public table.
        Body keys are used as column names.
      operationId: insertAdminRow
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Row created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
        '400':
          description: Validation error (invalid table/column or empty body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/{table}/{id}:
    get:
      tags:
        - Admin
      summary: Get a single row by id
      description: Assumes the table has an `id` primary key column.
      operationId: getAdminRow
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid table name or id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
      summary: Update a row by id
      description: Assumes the table has an `id` primary key column.
      operationId: updateAdminRow
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Row updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Admin
      summary: Delete a row by id
      description: Assumes the table has an `id` primary key column.
      operationId: deleteAdminRow
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Row deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
        '400':
          description: Invalid table name or id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/pricing/sync:
    post:
      tags:
        - Admin
      summary: Manually trigger pricing sync
      description: |
        Refreshes the public shop page's materialized views. Use this after making pricing changes (markup, carton prices, etc.) to publish them to the public site. This process runs in the background and takes approximately 5-10 minutes.
      operationId: triggerSync
      responses:
        '200':
          description: Sync process started
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Internal server error

  /api/admin/products/bulk-markup-override:
    put:
      tags:
        - Admin
      summary: Bulk update markup overrides for multiple styles
      description: |
        Sets custom markup percentages for multiple style codes and recalculates their `sell_price`.
      operationId: bulkMarkupOverride
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - overrides
              properties:
                overrides:
                  type: array
                  items:
                    type: object
                    required:
                      - style_code
                      - markup_percent
                    properties:
                      style_code:
                        type: string
                        example: "GD067"
                      markup_percent:
                        type: number
                        example: 75.00
      responses:
        '200':
          description: Bulk markup overrides applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        style_code:
                          type: string
                        markup_percent:
                          type: number
                        updated_count:
                          type: integer
        '500':
          description: Internal server error

  /api/admin/products/{code}/markup-override:
    get:
      tags:
        - Admin
      summary: Get markup override for a style code
      description: Returns the effective markup (custom or global) for a specific style.
      operationId: getMarkupOverride
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  style_code:
                    type: string
                  markup_percent:
                    type: number
                    nullable: true
                  global_markup:
                    type: number
                    nullable: true
                  has_override:
                    type: boolean
        '404':
          description: Style not found
    put:
      tags:
        - Admin
      summary: Set/update markup override for a style code
      description: Sets a custom markup percentage and recalculates `sell_price` for all products of this style.
      operationId: setMarkupOverride
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - markup_percent
              properties:
                markup_percent:
                  type: number
                  example: 75.00
      responses:
        '200':
          description: Markup override applied
        '500':
          description: Internal server error
    delete:
      tags:
        - Admin
      summary: Remove markup override for a style code
      description: Deletes the custom markup and reverts products to global tiered pricing.
      operationId: deleteMarkupOverride
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Markup override removed
        '404':
          description: Override not found

  /api/admin/products/{code}/carton-price:
    put:
      tags:
        - Admin
      summary: Update carton_price for a style and recalculate sell_price
      description: |
        Updates `carton_price` for all live SKUs of a style code and recalculates `sell_price`
        using the current active pricing rules. Also refreshes the `product_search_materialized`
        view and clears caches so changes are visible immediately.
      operationId: updateCartonPriceForStyle
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Product style code (e.g. GD002)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - carton_price
              properties:
                carton_price:
                  type: number
                  description: New carton price to apply
                  example: 4.65
      responses:
        '200':
          description: carton_price and sell_price updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  updatedCount:
                    type: integer
                  materializedViewRefreshed:
                    type: boolean
                  refreshError:
                    type: string
                    nullable: true
                  items:
                    type: array
                    items:
                      type: object
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No matching products found to update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/products/search:
    get:
      tags:
        - Admin
      summary: Advanced product search for admin panel
      description: Returns a detailed list of products with all fields, supporting various filters.
      operationId: adminProductSearch
      parameters:
        - name: q
          in: query
          description: General search query (name, code, sku)
          schema:
            type: string
        - name: style_code
          in: query
          schema:
            type: string
        - name: brand_id
          in: query
          schema:
            type: integer
        - name: product_type_id
          in: query
          schema:
            type: integer
        - name: sku_status
          in: query
          schema:
            type: string
        - name: price_min
          in: query
          schema:
            type: number
        - name: price_max
          in: query
          schema:
            type: number
        - name: is_best_seller
          in: query
          schema:
            type: boolean
        - name: is_recommended
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                  total:
                    type: integer

  /api/admin/products/featured:
    get:
      tags:
        - Admin
      summary: List styles that are Best Seller or Recommended
      description: Returns styles that have featured flags enabled.
      operationId: listFeaturedProducts
      parameters:
        - name: type
          in: query
          description: Filter by feature type (best or recommended)
          schema:
            type: string
            enum: [best, recommended]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        style_code:
                          type: string
                        style_name:
                          type: string
                        is_best_seller:
                          type: boolean
                        is_recommended:
                          type: boolean
                        best_seller_order:
                          type: integer
                        recommended_order:
                          type: integer
                        brand_name:
                          type: string
                        product_type_name:
                          type: string
                        price:
                          type: number
                        image:
                          type: string
                        sku_count:
                          type: integer
                  total:
                    type: integer

  /api/admin/products/bulk-featured:
    put:
      tags:
        - Admin
      summary: Bulk update featured flags for multiple styles
      description: Mark multiple styles as best seller or recommended in a single request.
      operationId: bulkUpdateFeatured
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - style_codes
              properties:
                style_codes:
                  type: array
                  items:
                    type: string
                is_best_seller:
                  type: boolean
                is_recommended:
                  type: boolean
      responses:
        '200':
          description: Featured flags updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  updated_styles:
                    type: array
                    items:
                      type: string

  /api/admin/products/order-featured:
    put:
      tags:
        - Admin
      summary: Bulk update ordering for best seller and/or recommended products
      description: |
        Update the display order for multiple featured products. 
        Lower numbers appear first. 
        This only affects sorting when using sort=best or sort=recommended.
      operationId: orderFeaturedProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  items:
                    type: object
                    required:
                      - style_code
                    properties:
                      style_code:
                        type: string
                        example: "GD001"
                      best_seller_order:
                        type: integer
                        example: 1
                      recommended_order:
                        type: integer
                        example: 2
      responses:
        '200':
          description: Orders updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  updated_styles:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid request body
        '500':
          description: Internal server error

  /api/admin/products/{code}:
    put:
      tags:
        - Admin
      summary: Update product style details (Best Seller, Recommended, etc.)
      description: |
        Update style-level information including name, specification, description,
        and featured flags (Best Seller / Recommended). Also supports updating primary
        and color-specific images.
      operationId: updateAdminProduct
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Style code (e.g. "GD001")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                style_name:
                  type: string
                specification:
                  type: string
                fabric_description:
                  type: string
                is_best_seller:
                  type: boolean
                is_recommended:
                  type: boolean
                best_seller_order:
                  type: integer
                recommended_order:
                  type: integer
                primary_image_url:
                  type: string
                colorImages:
                  type: array
                  items:
                    type: object
                    properties:
                      colour_name:
                        type: string
                      url:
                        type: string
      responses:
        '200':
          description: Product updated successfully
        '404':
          description: Product not found
        '500':
          description: Internal server error

  /api/admin/products/{code}/price-preview:
    get:
      tags:
        - Admin
      summary: Preview sell_price for a proposed carton_price
      description: |
        Returns a preview of `sell_price` for a given `carton_price` using the current
        active pricing rules. Does **not** modify the database.
      operationId: previewCartonPrice
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Product style code (e.g. GD002)
        - name: carton_price
          in: query
          required: true
          schema:
            type: number
          description: Proposed carton price to preview
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  style_code:
                    type: string
                  carton_price:
                    type: number
                  sell_price:
                    type: number
                  markup_percent:
                    type: number
                    nullable: true
                  pricing_rule:
                    type: object
                    nullable: true
                    properties:
                      version:
                        type: string
                      from_price:
                        type: number
                      to_price:
                        type: number
                      markup_percent:
                        type: number
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/products/{code}/price-overrides:
    get:
      tags:
        - Admin
      summary: Get price overrides for a product
      description: Returns global price breaks merged with product-specific overrides.
      operationId: getPriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Product style code
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  style_code:
                    type: string
                  tiers:
                    type: array
                    items:
                      type: object
                      properties:
                        tier_id:
                          type: integer
                        min_qty:
                          type: integer
                        max_qty:
                          type: integer
                        tier_name:
                          type: string
                        global_discount:
                          type: number
                        effective_discount:
                          type: number
                        has_override:
                          type: boolean
                        override_id:
                          type: integer
                          nullable: true
        '404':
          description: Style not found
        '500':
          description: Internal server error
    put:
      tags:
        - Admin
      summary: Set price overrides for a product
      description: Creates or updates price overrides for specific quantity ranges.
      operationId: setPriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Product style code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - overrides
              properties:
                overrides:
                  type: array
                  items:
                    type: object
                    required:
                      - min_qty
                      - max_qty
                      - discount_percent
                    properties:
                      min_qty:
                        type: integer
                      max_qty:
                        type: integer
                      discount_percent:
                        type: number
                        description: Discount percentage to apply
      responses:
        '200':
          description: Price overrides applied
        '400':
          description: Validation error
        '500':
          description: Internal server error
    delete:
      tags:
        - Admin
      summary: Remove all price overrides for a product
      description: Deletes all custom price overrides for the specified product.
      operationId: deletePriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Product style code
      responses:
        '200':
          description: Price overrides removed
        '500':
          description: Internal server error

  /api/admin/products/markup-overrides:
    get:
      tags:
        - Admin
      summary: List all markup overrides
      description: Returns a list of all active product markup overrides in the system.
      operationId: listMarkupOverrides
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        style_code:
                          type: string
                        style_name:
                          type: string
                        markup_percent:
                          type: number
                        updated_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
        '500':
          description: Internal server error

  /api/admin/products/price-overrides:
    get:
      tags:
        - Admin
      summary: List all price break overrides
      description: Returns a list of all products that have custom price break overrides.
      operationId: listPriceOverrides
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        style_code:
                          type: string
                        style_name:
                          type: string
                        tier_count:
                          type: integer
                        updated_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
        '500':
          description: Internal server error

  /api/admin/quotes:
    get:
      tags:
        - Admin
      summary: List all customer quote requests
      description: Returns a paginated list of quote requests with filtering by status and search query.
      operationId: listQuotes
      parameters:
        - name: status
          in: query
          schema:
            type: string
          description: Filter by status (e.g. Pending, Contacted, Closed)
        - name: q
          in: query
          schema:
            type: string
          description: Search by customer name, email or quote ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (from)
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: Filter by creation date (to)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
        '500':
          description: Internal server error

  /api/admin/quotes/{id}:
    get:
      tags:
        - Admin
      summary: Get quote request detail
      description: Returns the full details of a specific quote request including the original JSON data.
      operationId: getQuoteDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Quote ID (e.g. quote_123...) or integer internal ID
      responses:
        '200':
          description: Successful response
        '404':
          description: Quote not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Admin
      summary: Delete a quote request
      operationId: deleteQuote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quote deleted successfully
        '404':
          description: Quote not found
        '500':
          description: Internal server error

  /api/admin/quotes/{id}/status:
    put:
      tags:
        - Admin
      summary: Update quote request status
      description: Update the processing status of a quote request.
      operationId: updateQuoteStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [Pending, Contacted, Closed]
      responses:
        '200':
          description: Status updated successfully
        '400':
          description: Validation error
        '404':
          description: Quote not found
        '500':
          description: Internal server error

  # ============================================================================
  # PRODUCT TYPE ENDPOINTS
  # ============================================================================
  
  /api/admin/products/bulk-activate:
    put:
      tags:
        - Admin
      summary: Bulk activate products
      description: Sets sku_status to 'Live' for all products of the specified style codes.
      operationId: bulkActivateProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkStatusRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkStatusResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/products/bulk-discontinue:
    put:
      tags:
        - Admin
      summary: Bulk discontinue products
      description: Sets sku_status to 'Discontinued' for all products of the specified style codes.
      operationId: bulkDiscontinueProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkStatusRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkStatusResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/price-breaks:
    get:
      tags:
        - Admin
      summary: List global price breaks
      operationId: getPriceBreaks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceBreakList'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/price-breaks/{id}:
    put:
      tags:
        - Admin
      summary: Update global price break tier
      operationId: updatePriceBreak
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceBreakUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  tier:
                    $ref: '#/components/schemas/PriceBreak'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/products/{code}/price-overrides:
    get:
      tags:
        - Admin
      summary: Get product price overrides
      operationId: getProductPriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPriceOverridesResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
      summary: Set product price overrides
      operationId: setProductPriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPriceOverrideSetRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  style_code:
                    type: string
                  overrides:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductPriceOverride'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Admin
      summary: Remove all price overrides for a product
      operationId: deleteProductPriceOverrides
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  style_code:
                    type: string
                  deletedCount:
                    type: integer
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/filters/product-types:
    get:
      tags:
        - Product Types
      summary: Get all product types from database
      description: Returns all product types with their product counts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  productTypes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        display_order:
                          type: integer
                        product_count:
                          type: integer
                  total:
                    type: integer

  /api/filters/product-types/{slug}/products:
    get:
      tags:
        - Product Types
      summary: Get products by product type slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "t-shirts"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # GENDER ENDPOINTS
  # ============================================================================
  
  /api/filters/genders:
    get:
      tags:
        - Genders
      summary: Get all genders from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  genders:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/genders/{slug}/products:
    get:
      tags:
        - Genders
      summary: Get products by gender slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "male"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # AGE GROUP ENDPOINTS
  # ============================================================================
  
  /api/filters/age-groups:
    get:
      tags:
        - Age Groups
      summary: Get all age groups from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ageGroups:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/age-groups/{slug}/products:
    get:
      tags:
        - Age Groups
      summary: Get products by age group slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "adult"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # SLEEVE ENDPOINTS
  # ============================================================================
  
  /api/filters/sleeves:
    get:
      tags:
        - Sleeves
      summary: Get all sleeve types from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sleeves:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/sleeves/{slug}/products:
    get:
      tags:
        - Sleeves
      summary: Get products by sleeve slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "long-sleeve"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # NECKLINE ENDPOINTS
  # ============================================================================
  
  /api/filters/necklines:
    get:
      tags:
        - Necklines
      summary: Get all neckline types from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  necklines:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/necklines/{slug}/products:
    get:
      tags:
        - Necklines
      summary: Get products by neckline slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "crew-neck"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # FABRIC ENDPOINTS
  # ============================================================================
  
  /api/filters/fabrics:
    get:
      tags:
        - Fabrics
      summary: Get all fabric types from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  fabrics:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/fabrics/{slug}/products:
    get:
      tags:
        - Fabrics
      summary: Get products by fabric slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "cotton"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # SIZE ENDPOINTS
  # ============================================================================
  
  /api/filters/sizes:
    get:
      tags:
        - Sizes
      summary: Get all sizes from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sizes:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/sizes/{slug}/products:
    get:
      tags:
        - Sizes
      summary: Get products by size slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "xl"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # COLOR ENDPOINTS
  # ============================================================================
  
  /api/filters/colors:
    get:
      tags:
        - Colors
      summary: Get all colors from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  colors:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/colors/{slug}/products:
    get:
      tags:
        - Colors
      summary: Get products by color slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "red"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # PRIMARY COLOR ENDPOINTS
  # ============================================================================
  
  /api/filters/primary-colors:
    get:
      tags:
        - Primary Colors
      summary: Get all primary colors from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  primaryColors:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/primary-colors/{slug}/products:
    get:
      tags:
        - Primary Colors
      summary: Get products by primary color slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "black"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # STYLE KEYWORD ENDPOINTS
  # ============================================================================
  
  /api/filters/styles:
    get:
      tags:
        - Styles
      summary: Get all style keywords from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  styles:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/styles/{slug}/products:
    get:
      tags:
        - Styles
      summary: Get products by style keyword slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "classic"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # TAG ENDPOINTS
  # ============================================================================
  
  /api/filters/tags:
    get:
      tags:
        - Tags
      summary: Get all tags from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/tags/{slug}/products:
    get:
      tags:
        - Tags
      summary: Get products by tag slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "print"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # WEIGHT ENDPOINTS
  # ============================================================================
  
  /api/filters/weights:
    get:
      tags:
        - Weights
      summary: Get all weight ranges from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  weights:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/weights/{slug}/products:
    get:
      tags:
        - Weights
      summary: Get products by weight slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "150gsm"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # FIT ENDPOINTS
  # ============================================================================
  
  /api/filters/fits:
    get:
      tags:
        - Fits
      summary: Get all fit types from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  fits:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/fits/{slug}/products:
    get:
      tags:
        - Fits
      summary: Get products by fit slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "regular"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # SECTOR ENDPOINTS
  # ============================================================================
  
  /api/filters/sectors:
    get:
      tags:
        - Sectors
      summary: Get all sectors from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sectors:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/sectors/{slug}/products:
    get:
      tags:
        - Sectors
      summary: Get products by sector slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "workwear"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # SPORT ENDPOINTS
  # ============================================================================
  
  /api/filters/sports:
    get:
      tags:
        - Sports
      summary: Get all sports from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sports:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/sports/{slug}/products:
    get:
      tags:
        - Sports
      summary: Get products by sport slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "running"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # EFFECT ENDPOINTS
  # ============================================================================
  
  /api/filters/effects:
    get:
      tags:
        - Effects
      summary: Get all effects from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  effects:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/effects/{slug}/products:
    get:
      tags:
        - Effects
      summary: Get products by effect slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "reflective"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # ACCREDITATION ENDPOINTS
  # ============================================================================
  
  /api/filters/accreditations:
    get:
      tags:
        - Accreditations
      summary: Get all accreditations from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  accreditations:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/accreditations/{slug}/products:
    get:
      tags:
        - Accreditations
      summary: Get products by accreditation slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "oeko-tex"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # COLOUR SHADE ENDPOINTS
  # ============================================================================
  
  /api/filters/colour-shades:
    get:
      tags:
        - Colour Shades
      summary: Get all colour shades from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  colourShades:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/colour-shades/{slug}/products:
    get:
      tags:
        - Colour Shades
      summary: Get products by colour shade slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "dark"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  # ============================================================================
  # BRAND ENDPOINTS
  # ============================================================================
  
  /api/filters/brands:
    get:
      tags:
        - Brands
      summary: Get all brands from database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterItem'
                  total:
                    type: integer

  /api/filters/brands/{slug}/products:
    get:
      tags:
        - Brands
      summary: Get products by brand slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "awdis"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  /api/filters/brands/{slug}/filters:
    get:
      tags:
        - Brands
      summary: Get all sidebar filter aggregations for a specific brand
      description: |
        Returns all filter options with counts for products within a specific brand.
        Includes: gender, ageGroup, sleeve, neckline, fabric, size, weight, fit, feature, 
        effect, accreditations, sector, sport, tag, primaryColour, colourShade, productType, priceRange.
        Uses the same CTE approach as the main product filters for consistency.
      parameters:
        - name: slug
          in: path
          required: true
          description: Brand slug (e.g., "nike", "awdis", "under-armour")
          schema:
            type: string
          example: "nike"
      responses:
        '200':
          description: Successful response with all filter aggregations
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand:
                    type: string
                    description: The brand slug that was queried
                    example: "nike"
                  totalProducts:
                    type: integer
                    description: Total number of styles for this brand
                    example: 60
                  filters:
                    type: object
                    properties:
                      gender:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      ageGroup:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      sleeve:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      neckline:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      accreditations:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      primaryColour:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      colourShade:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      style:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      feature:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
                      size:
                        type: array
                        items:
                          $ref: '#/components/schemas/SizeFilterAggregation'
                      fabric:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilterAggregation'
[...]
