name: Deploy to DigitalOcean VPS

on:
  push:
    branches:
      - main   # ya tumhara default branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no root@${{ secrets.SERVER_IP }} "
            cd /root/app &&
            git pull origin main &&
            npm install &&
            pm2 restart brandeduk-app
          "
